{% extends 'blog/base.html' %}
{% load static %}
{% block css %}{% static "playlists/css/playlist.css" %}{% endblock %}
{% block css_dark %}{% static "playlists/css/playlist_dark.css"%}{% endblock %}
{% block title %}<h1>{{ playlist.TITLE }}</h1>{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Nr</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Album</th>
        <th>Duration</th>
    </tr>
    {% for song in csv %}
    <tr>
        <td>{{ song.Nr }}
        <td>{{ song.Artist }}</td>
        <td>{{ song.Title }}</td>
        <td>{{ song.Album }}</td>
        <td>{{ song.Duration }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}