html {
    background-color: black;
    color: rgb(253, 71, 0);
}

@font-face {
    font-family: Noto Sans;
    src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: Noto Sans Bold;
    src: url('../fonts/NotoSans-Bold.ttf')
}

body {
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
}

#pokerfacowaty-com-box {
    text-align: center;
    position: relative;
}

#dark-mode-button {
    background-color: black;
    color: white;
    position: absolute;
    right: 0px;
}

#link-main {
	font-size:40px;
	font-weight:bold;
	text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, a:visited {
    color: rgb(253, 71, 0);
    text-decoration: none;
    font-family: Noto Sans Bold;
}

a:hover {
    color: blue;
}

h1 {
    font-family: Noto Sans Bold;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

.header {
    cursor: pointer;
    font-family: Noto Sans Bold;
}

/* https://stackoverflow.com/a/56649741 */
details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details[open] summary span.icon {
    transform-origin: 20px 30px;
    transform: rotate(90deg);
}

img {
    max-width: 100%;
}

.entry {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tab-comment {
    margin-top: -10px;
    margin-bottom: 3px;
    font-family: Noto Sans;
    font-size:18px;
}

.list {
    margin-top: 0px;
    font-family: Noto Sans;
    font-size: 18px;
}

.collapsible-box-full {
    width: 900px;
    text-align: center;
}

