/* https://stackoverflow.com/a/56649741 */
details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

.collapsible-box-full {
    float: none;
    margin-left: 0px;
    text-align: center;
}

.header {
    font-size: 16px;
    display: inline-block;
}