#profile-pic {
    height: 400px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

#text-pp {
    height: 425px;
    font-family: Noto Sans;
    position: relative;
}

#text-profile-pic {
    position:absolute;
    bottom: 0px;
    left: 15px;
    text-align:center;
    width: 282px;
}

.buttons-box {
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 20px;
    text-align: center;
    font-size: 20px;
}

#cs, #pokers-diary, #multi-word-button {
    word-spacing: normal;
}

.sm-buttons-box {
    word-spacing: 15px;
    text-align: center;
    margin-top: -15px;
    font-family: Noto Sans Bold;
}

h1 {
    font-size: 32px;
}

#blog-link {
    font-size: 20px;
    text-align: center;
    margin-top: -25px;
    margin-bottom: -10px;
}

p {
    margin-top: 15px;
}

.post-link {
    font-size: 24px;
    text-align: center;
    margin-bottom: -15px;
}

.post-date {
    font-family: Noto Sans Bold;
    font-size: 14px;
    text-align: center;
}